.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90vw, 500px);
  z-index: 999;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.375rem);
  z-index: 998;
  display: flex;
}

.background div {
  background-color: black;
  opacity: 0.15;
  flex-grow: 1;
}