:root {
  --labaix-blue: #00414b;
  --labaix-orange: #efab04;
  --grey-95: #f2f2f2;
  --grey-85: #d9d9d9;
  --grey-60: #999999;
  --grey-40: #666666;
  --pastel-green: #79ec79;
  --pastel-red: #ec7979;
  --default-background: white;
  --default-text-color: black;

  --nav-font-size: 1.5rem;
}

body {
  margin: 0;
  background-color: var(--default-background);
  font-family: Montserrat;
  font-weight: 700;
  color: var(--default-text-color);
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
}

.active {
  background-color: white;
  font-weight: 600;
}

.p-button {
  background-color: var(--labaix-blue);
  border-width: 0;
}

.p-button-danger {
  background-color: #d92626 !important;
}

.p-button-outlined {
  border-color: var(--labaix-blue) !important;
  color: var(--labaix-blue) !important;
}

#root {
  display: flex;
  flex-direction: column;
}
