body {
  margin: 0;
  background-color: #D3E9F8;
  font-family: Montserrat;
  font-weight: 700;
  color: #114466;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
}

.item-card {
  border: 0.2rem solid #114466D9;
  border-radius: 1rem;
  background-color: #FFF;
  padding: 1rem;
}