.itemCard {
  border: none;
  border-radius: 2rem;
  background-color: var(--grey-95);
  display: flex;
  flex-direction: column;
  padding: 1.125rem 1.2rem;
  z-index: 2;
  max-height: 4rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  gap: 1rem;
}

.itemCard > .cardControls {
  visibility: hidden;
}

.expanded {
  max-height: 14.5rem;
}

.expanded > .cardControls {
  visibility: visible;
}

.cancelButton {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: space-around;
  transition: flex-grow 0.5s ease-in-out;
}

.deleteButton {
  transition: flex-grow 0.5s ease-in-out;
}

.upForDeletion {
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  min-width: 2.857rem;
}

.upForDeletion > span {
  overflow: hidden;
  white-space: nowrap;
}

.deleted {
  transform: translateX(-100vw);
  max-height: 0rem;
  padding: 0;
  /* remove gap */
  margin-top: -1rem;
  transition:
    transform 0.5s ease-in-out,
    max-height 0.5s 0.5s ease-in-out,
    padding 0.5s 0.5s ease-in-out,
    margin-top 0.5s 0.5s ease-in-out;
}

.label {
  align-self: center;
  text-overflow: ellipsis;
  display: flex;
  align-items: baseline;
}

/* header row */
.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.brand {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.itemDetails {
  margin-left: 0.4rem;
  color: var(--grey-40);
  white-space: nowrap;
}

.quantity {
  justify-self: right;
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  gap: 0.6rem;
}

.increaseCaret {
  color: green;
}

.decreaseCaret {
  color: red;
}

.increaseCaret,
.decreaseCaret {
  font-size: 1.5rem;
}

/* button row */
.buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.cardControls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: visibility 0.5s;
}

.quantityControl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.labelBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
