.itemCard {
  border: none;
  border-radius: 2rem;
  background-color: var(--grey-95);
  display: flex;
  flex-direction: column;
  padding: 1.125rem 1.2rem;
  z-index: 2;
  max-height: 4rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.itemCard > .cardControls {
  visibility: hidden;
}

.expanded {
  max-height: 12rem;
}

.expanded > .cardControls {
  visibility: visible;
}

.deleted {
  transform: translateX(-100vw);
  max-height: 0rem;
  padding: 0;
  /* remove gap */
  margin-top: -1rem;
  transition:
    transform 0.5s ease-in-out,
    max-height 0.5s 0.5s ease-in-out,
    padding 0.5s 0.5s ease-in-out,
    margin-top 0.5s 0.5s ease-in-out;
}

.label {
  align-self: center;
}

.quantity {
  justify-self: right;
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  gap: 0.6rem;
}

.brand {
  font-size: 1.5rem;
}

.itemDetails {
  margin-left: 0.4rem;
  color: var(--grey-40);
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.cancelButton {
  flex-grow: 1;
  justify-content: space-around;
}

.cardControls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  transition: visibility 0.5s;
}

.increaseCaret {
  color: green;
}

.decreaseCaret {
  color: red;
}

.increaseCaret,
.decreaseCaret {
  font-size: 1.5rem;
}
