.itemCard {
  border: none;
  border-radius: 2rem;
  background-color: var(--grey-95);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.125rem 1.2rem;
  z-index: 1;
}

.expanded {
  z-index: 2;
}

.label {
  align-self: center;
}

.quantity {
  justify-self: right;
  font-size: 1.5rem;
  align-self: center;
}

.brand {
  font-size: 1.5rem;
}

.details {
  margin-left: 0.4rem;
  color: var(--grey-40)
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}