.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 0;
  flex-grow: 1;
}

.items>div, .items>button {
  flex-shrink: 0;
}

.unfocus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.saveButton {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding-left: 3rem;
  padding-right: 3rem;
}