.deliveries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.link {
  display: flex;
  text-decoration: none;
}

.link>button {
  flex-grow: 1;
}

.delivery {
  text-decoration: none;
  color: inherit;
}