.card {
  border-radius: 2rem;
  background-color: var(--grey-95);
  z-index: 2;
  padding: 1rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.buttons button {
  flex-grow: 1;
  border-radius: 2rem;
}
